<html>
   <head>      
      <%include 'include/header.html'%>
      <link href="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/css/chitiet.css" rel="stylesheet" type="text/css">
      <link href="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/css/woocommerce.css" rel="stylesheet" type="text/css">
      <meta property="og:site_name" content="dancovietnam.vn">
      <meta property="og:title" content="<%$web_title%>">
      <meta property="og:description" content="<%$web_des%>">  
      <meta property="og:image" content="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/logo.png"> 
      <title>Thanh toán</title>
   </head>
   <body>
      <%include 'include/menu.html'%>
      <div class="row">
         <div class="container" id="content">            
            <div class="woocommerce">
               <section class="check-out">
                  <div class="container">
                     <div class="heading">
                        Thực hiện đặt hàng
                     </div>
                     <form method="post" class="login" style="display:none;">
                        <div class="tendangnhap">
                           <input type="text" class="input-text" placeholder="Tài khoản đăng nhập" name="username" id="username">
                        </div>
                        <p class="hovaten">
                           <input class="input-text" type="password" placeholder="Mật khẩu" name="password" id="password">
                        </p>
                        <div class="clear"></div>
                        <p class="form-row">
                           <input type="hidden" id="_wpnonce" name="_wpnonce" value="0efe0dc621"><input type="hidden" name="_wp_http_referer" value="/checkout">        <input type="submit" class="btntieptuc" name="login" value="Đăng nhập">
                           <input type="hidden" name="redirect" value="/checkout">
                           <label for="rememberme" class="inline">
                           <input name="rememberme" type="checkbox" id="rememberme" value="forever"> Ghi nhớ mật khẩu        </label>
                        </p>
                        <p class="vuilongnhaptt" style="padding-left: 5px">
                           <a href="http://demo1.tentenwordpress2.top/wp-login.php?action=lostpassword">Bạn quên mật khẩu?</a>
                        </p>
                        <div class="clear"></div>
                     </form>
                     <form name="checkout" method="post" class="checkout woocommerce-checkout" action="<%$smarty.const.ACW_BASE_URL%>cart/pay" enctype="multipart/form-data">
                        <div class="row form-checkout">                           
                           <div class="col-md-12 col-sm-12 col-xs-12 step3">
                              <div class="heading">
                                 <span class="icon img-circle">&radic;</span>
                                 <span class="text">Đơn hàng</span>
                              </div>
                              <div class="body">
                                 <table class="table">
                                    <tbody>
                                       <tr class="tenbold">
                                          <th width="50%" class="sanpham">Sản Phẩm</th>
                                          <th width="20%" class="sanpham">kích thước</th>
                                          <th style="text-align:center">Số Lượng</th>
                                          <th style="text-align:right">Giá</th>
                                          <th width="50" style="text-align:center" align="center">Xóa</th>
                                       </tr>
                                       <%foreach $carts as $item%>
                                       <tr class="spline tr_product">                                       
                                          <td width="50%">
                                             <%$item.pro_name%>                    
                                          </td>
                                          <td><%$item.size%></td>
                                          <td width="20%" style="text-align:center">× 
                                             <input value="<%$item.qty%>" name="pro_qty[]" id="pro_qty_<%$item.pro_price_id%>" type="number" style="width:43px;text-align: center;" class="pro_qty" >
                                             <input type="hidden" name="pro_price_id[]" value="<%$item.pro_price_id%>">                                           
                                          </td>
                                          <td width="25%" align="right">
                                             <span class="woocommerce-Price-amount amount pro_price" data="<%$item.price_new%>"><%Sanpham_model::currency_format($item.price_new)%><span class="woocommerce-Price-currencySymbol">₫</span></span>                    
                                          </td>
                                          <td style="text-align:center"><a style="color: red" href="<%$smarty.const.ACW_BASE_URL%>cart/delete/<%$item.pro_price_id%>">X</a>
                                          </td>
                                       </tr>
                                       <%/foreach%>
                                       <tr class="spline">
                                          <td width="40%" class="sanpham" >Tổng cộng</td>
                                          <td width="40%" align="right" colspan="3"><span class="woocommerce-Price-amount amount" id="total_amount_1"><%Sanpham_model::currency_format($total_amount)%><span class="woocommerce-Price-currencySymbol">₫</span></span></td>
                                          <td></td>
                                       </tr>
                                       <tr class="spline">
                                          <td width="40%" class="sanpham" >Thuế VAT</td>
                                          <td width="40%" align="right" colspan="3"><span class="woocommerce-Price-amount amount" id="total_amount_vat"><%Sanpham_model::currency_format($total_amount*0.1)%><span class="woocommerce-Price-currencySymbol">₫</span></span></td>
                                          <td></td>
                                       </tr>
                                       <tr class="order-total">
                                       </tr>
                                       <tr class="spline">
                                          <td width="40%" class="sanpham" >Thanh toán</td>
                                          <td width="40%" align="right" colspan="3"><strong><span class="woocommerce-Price-amount amount" id="total_amount_2"><%Sanpham_model::currency_format($total_amount+$total_amount*0.1)%><span class="woocommerce-Price-currencySymbol">₫</span></span></strong> </td>
                                          <td></td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <p class="text-right">
                                    <a class="btn btn-default btn-dat-hang" href="<%$smarty.const.ACW_BASE_URL%>">Tiếp tục mua hàng</a>
                                    <input type="submit" <%if $total_amount == 0%>disabled="true"<%/if%>class="btn btn-default btn-dat-hang" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Hoàn thành">                        
                                 </p>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </section>
            </div>        
         </div>
      </div>
      <%include 'include/footer.html'%>
   <script>
      
      function currency_format(n) {
          return n.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
      }
      $(document).ready(function() {
         $(document).off('input','.pro_qty'); 
         $(document).on('input','.pro_qty',function(event){
            console.log('1');
            var tot_amount = 0;
            $('.tr_product').each(function(){
               var qty_obj = $(this).find('.pro_qty')[0];
               var price_obj = $(this).find('.pro_price')[0];
               var qty = $(qty_obj).val();
               var price = $(price_obj).attr('data');
               tot_amount += qty*price;
               console.log(tot_amount);
            });
            $('#total_amount_1').text(currency_format(tot_amount));
            $('#total_amount_vat').text(currency_format(tot_amount*0.1));
            $('#total_amount_2').text(currency_format(tot_amount + tot_amount*0.1));
         });         
      });
   </script>
   </body>
</html>