<html>
   <head>      
      <%include 'include/header.html'%>
   </head>
   <body>
      <%include 'include/menu.html'%>
      <div class="row">
         <div class="container" id="content">
            
            <div class="col-md-9 col-sm-12 col-xs-12 content-main">
               <div id="myCarousel" class="carousel <!--slide-->" data-ride="carousel" data-interval="2500">
                  <%assign var="slides" value=Slides_model::get_slides()%> 				    <!-- Indicators --> 				    
                  <ol class="carousel-indicators">
                     <%foreach $slides as $key=>$item%> 				      	  
                     <li data-target="#myCarousel" data-slide-to="<%$key%>" <%if $key==0%>class="active"<%/if%>></li>
                     <%/foreach%> 				    
                  </ol>
                  <!-- Wrapper for slides --> 				    
                  <div class="carousel-inner">
                     <%foreach $slides as $key=>$item%> 					      
                     <div class="item <%if $key==0%> active<%/if%>"> 					        <img src="<%$smarty.const.ACW_BASE_URL%><%$item.img_path%>" alt="" style="width:100%; height:auto;"> 	<!-- height:358;		 -->		      
                     </div>
                     <%/foreach%> 				    
                  </div>
                  <!-- Left and right controls --> 				    <a class="left carousel-control" href="#myCarousel" data-slide="prev"> 				      <span class="glyphicon glyphicon-chevron-left"></span> 				      <span class="sr-only">Previous</span> 				    </a> 				    <a class="right carousel-control" href="#myCarousel" data-slide="next"> 				      <span class="glyphicon glyphicon-chevron-right"></span> 				      <span class="sr-only">Next</span> 				    </a> 				  
               </div>               
               <%assign var="list_sanpham" value=Sanpham_model::get_sanpham_home(39)%> 
               <%assign var="ctg_no" value='chan-ga-goi'%>
               <%assign var="ctg_name" value='CHĂN GA GỐI'%>  
               <%include 'index/list.html'%>
               <%assign var="list_sanpham" value=Sanpham_model::get_sanpham_home(38)%> 
               <%assign var="ctg_no" value='diem-va-ke-diem'%>
               <%assign var="ctg_name" value='ĐIỆM VÀ KỆ ĐIỆM'%>  
               <%include 'index/list.html'%>               
            </div>
            <%include 'include/left.html'%>
         </div>
      </div>
      <%include 'include/footer.html'%>
      
   </body>
</html>